extends layout
block content
	div(class='bgimg' id='home')
		div(class='display-middle')
			span(class='bgimg-span')
				img(alt='JULIANVOS.NL Logo' src='/assets/site-logo-transparent.webp' width='100%')
				br

	div(class='about-section' id='about')
		div(class='display-middle')
			span(class='about-span') ABOUT ME

	div(class='about-content')
		p(class='about-p')
			em Programmer, musician, gamer
		p
			| I picked up a love for programming in 2013, from watching <a href="https://shortener.julianvos.nl/?destination=https%3A%2F%2Fwww.youtube.com%2Fuser%2Fshiffman&origin=website">The
			| Coding Train</a>.
			| I learned the basics of <a href="https://shortener.julianvos.nl/?destination=https%3A%2F%2Fwww.processing.org&origin=website">Processing</a>, and started following an official
			| programming education in 2017.
		p
			| From October 2018 until March 2019, I was participating in an international internship in the UK, where I have been
			| working with Node.js on the back-end. One of the most difficult and useful skills I've had to learn was using
			| Async.js, and subsequently learning to use callbacks, instead of the default async/await.
		p
			| One of my favourite pastimes is playing the guitar. I started taking lessons at the age of 14, but my skills with
			| the electric guitar are mostly self-taught.
			| I try to practice at least once a day, and am always looking for the next riff to master.
		p
			| For as long as I can remember, video games have been a part of my life. My all-time favourite game is The Legend
			| of Zelda: Ocarina of Time, closely followed by <a href="https://shortener.julianvos.nl/?destination=https%3A%2F%2Fwww.clonehero.net&origin=website">Clone Hero</a> and Breath of
			| the Wild.

		p(class='proficient-header') I'm proficient in:

		p(class='proficiency')
			i(class='fab fa-node-js')
			| Node.js
		div(class="star-ratings-css")
			div(class="star-ratings-css-top" style="width: 90%")
				span ★
				span ★
				span ★
				span ★
				span ★
			div(class="star-ragings-css-bottom")
				span ★
				span ★
				span ★
				span ★
				span ★

		p(class='proficiency')
			img(alt='C# Icon' src='/icons/csharp-icon.webp' width='15')
			|  C# (.NET)
		div(class="star-ratings-css")
			div(class="star-ratings-css-top" style="width: 90%")
				span ★
				span ★
				span ★
				span ★
				span ★
			div(class="star-ragings-css-bottom")
				span ★
				span ★
				span ★
				span ★
				span ★

		p(class='proficiency')
			i(class='fab fa-aws')
			| AWS (Lambda, IoT, etc)
		div(class="star-ratings-css")
			div(class="star-ratings-css-top" style="width: 60%")
				span ★
				span ★
				span ★
				span ★
				span ★
			div(class="star-ragings-css-bottom")
				span ★
				span ★
				span ★
				span ★
				span ★

	div(class='portfolio-header' id='portfolio')
		div(class='portfolio')
			span(class='portfolio-span') PORTFOLIO

	div(class='work-header')
		h3(class='work-text') MY WORK
		p(class='work-p')
			em Some projects I've done.
			br
		br

		div(class='work-row')
			div(class='work-col')
				a(href='/personal_projects/snake/')
					img(src='/assets/snake.webp' class='work-img' alt="Snake in P5.js")
					| Snake in P5.js

			div(class='work-col')
				a(href='/personal_projects/pong/')
					img(src='/assets/pong.webp' class='work-img' alt="Pong in P5.js")
					| Pong in P5.js

			div(class='work-col')
				a(href='/personal_projects/lyrics_graph/')
					img(src='/assets/lyrics.webp' class='work-img' alt="Lyrics repetition chart")
					| Lyrics repetition chart
			
		div(class='work-row')
			b
				a(href='/projects/') All projects
		
		div(class='contact-header' id='contact')
			div(class='contact')
				div(class='contact-span') CONTACT

		div(class='contact-section')
			div(class='contact-text')
				i(class='fas fa-map-marker fa-fw details')
				| Klazienaveen, Drenthe, NL
				br

				i(class='fas fa-phone fa-fw details')
				| +31 [six] 83221625
				br

				i(class='fas fa-envelope fa-fw details')
				| post[at]julianvos.nl
				br

		footer(class='footer')
			a(href='#home' class='home-button')
				i(class='fas fa-arrow-up home-icon')
				| Top
			div(class='linkedin')
				a(href='https://shortener.julianvos.nl/?destination=https%3A%2F%2Fwww.linkedin.com%2Fin%2Fjulian-vos-b09783150%2F&origin=website' class='linkedin-button')
					i(class='fab fa-linkedin')
					| LinkedIn
		
		script(src='/scripts/script.js')
