doctype html
html
	head
		title= title
		link(rel='apple-touch-icon' sizes='180x180' href='/icons/apple-touch-icon.png?v=7koxj44oew')
		link(rel='apple-touch-icon' sizes='180x180' href='/icons/apple-touch-icon.png?v=9BP4YaB3x3')
		link(rel='icon' type='image/png' sizes='32x32' href='/icons/favicon-32x32.png?v=9BP4YaB3x3')
		link(rel='icon' type='image/png' sizes='194x194' href='/icons/favicon-194x194.png?v=9BP4YaB3x3')
		link(rel='icon' type='image/png' sizes='192x192' href='/icons/android-chrome-192x192.png?v=9BP4YaB3x3')
		link(rel='icon' type='image/png' sizes='16x16' href='/icons/favicon-16x16.png?v=9BP4YaB3x3')
		link(rel='manifest' href='/icons/site.webmanifest?v=9BP4YaB3x3')
		link(rel='mask-icon' href='/icons/safari-pinned-tab.svg?v=9BP4YaB3x3' color='#e58c45')
		link(rel='shortcut icon' href='/icons/favicon.ico?v=9BP4YaB3x3')
		meta(name='apple-mobile-web-app-title' content='Julian Vos')
		meta(name='application-name' content='Julian Vos')
		meta(name='msapplication-TileColor' content='#2b5797')
		meta(name='msapplication-TileImage' content='/icons/mstile-144x144.png?v=9BP4YaB3x3')
		meta(name='msapplication-config' content='/icons/browserconfig.xml?v=9BP4YaB3x3')
		meta(name='theme-color' content='#2b5797')
		link(rel='stylesheet' href='/styles/w3.css')
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato')
		link(rel='stylesheet' href='/styles/all.min.css')
		link(rel='stylesheet' href='/styles/style.css')

	body
		.w3-top
			#navbar.w3-bar
				a.w3-bar-item.w3-button.w3-hover-black.w3-hide-medium.w3-hide-large.w3-right(href='javascript:void(0);' onclick='toggle()' title='Toggle Navigation Menu')
					i.fas.fa-bars
				a.w3-bar-item.w3-button(href='/#home') HOME
				a.w3-bar-item.w3-button.w3-hide-small(href='/#about')
					i.fas.fa-user
					|  ABOUT
				a.w3-bar-item.w3-button.w3-hide-small(href='/#portfolio')
					i.fas.fa-th
					|  PORTFOLIO
				a.w3-bar-item.w3-button.w3-hide-small(href='/#contact')
					i.fas.fa-envelope
					|  CONTACT
			// Navbar on small screens
			#navDemo.w3-bar-block.w3-dark-grey.w3-hide.w3-hide-large.w3-hide-medium
				a.w3-bar-item.w3-button(href='#about' onclick='toggleFunction()') ABOUT
				a.w3-bar-item.w3-button(href='#portfolio' onclick='toggleFunction()') PORTFOLIO
				a.w3-bar-item.w3-button(href='#contact' onclick='toggleFunction()') CONTACT
		block content
