extends layout
block content
	br
	h1 Personal Projects
	ul
		li
			a(href='/projects/snake/') Snake
		li
			a(href='/projects/match4/') Match 4
		li
			a(href='/projects/pong/') Pong
		li
			a(href='/projects/dungeon_drawler/') Dungeon Crawler
		li
			a(href='/projects/dungeon_crawler_editor/') Dungeon Crawler Level Editor
		li
			a(href='/projects/lyrics_graph/') Lyrics graph thing
	h1 Exercises
	ul
		li
			a(href='/assignments/bootstrap') Bootstrap
		li
			a(href='/assignments/javascript_block_1') Javascript block 1
		li
			a(href='/assignments/javascript_block_2') Javascript block 2
		li
			a(href='/assignments/javascript_block_3_4') Javascript block 3/4
		li
			a(href='/assignments/javascript_block_5') Javascript block 5
		li
			a(href='/assignments/jquery_block_6') jQuery block 6
		li
			a(href='/assignments/jquery_block_7') jQuery block 7
		li
			a(href='/assignments/jquery_block_8') jQuery block 8
		li
			a(href='/assignments/inleveropdracht_javascript') Other Javascript things
		li
			a(href='/assignments/tussentijdse_opdrachten') Other Javascript things 2
