#box1 {
	width: 150px;
	height: 300px;
	border: 1px solid black;
	float: left;
}

#box2 {
	width: 150px;
	height: 300px;
	border: 1px solid black;
	float: left;
}

#buttons {
	width: 63px;
	height: 200px;
	float: left;
}