body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
    font-display: swap;
}

*:before,
*:after {
    box-sizing: inherit;
}

::-webkit-scrollbar {
    background-color: rgb(28, 30, 31);
    color: rgb(197, 193, 185);
}

::-webkit-scrollbar-corner {
    background-color: rgb(24, 26, 27);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(42, 44, 46);
}

::selection {
    background-color: rgb(0, 92, 204);
    color: rgb(255, 255, 255);
}

body,
html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

.bgimg {
    position: relative;
    background-image: url('/assets/bgimage1.webp');
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
}

.display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bgimg {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    opacity: 0.75;
    position: relative;
}

.bgimg-span {
    letter-spacing: 10px;
    padding: 12px 24px !important;
    text-align: center !important;
    font-size: 24px !important;
    animation: opac 0.8s;
}

.about-content {
    padding: 0.01em 16px;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.about-p {
    text-align: center !important;
}

.about-section {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
    position: relative;
    color: rgb(189, 184, 175)
}

.about-span {
    letter-spacing: 10px;
    color: rgb(255, 255, 255) !important;
    font-size: 36px !important;
}

.proficient-header {
    text-align: center !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    font-size: 18px !important;
}

.proficiency {
    letter-spacing: 10px;
    text-align: center !important;
}

.portfolio-header {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
    position: relative;
}

.portfolio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.portfolio-span {
    letter-spacing: 10px;
    color: #ffffff !important;
    font-size: 36px !important;
}

.work-header {
    text-align: center !important;
    padding: 0.01em 16px;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.work-text {
    text-align: center !important;
}

.work-p {
    text-align: center !important;
}

.work-row {
    text-align: center !important;
    padding: 0 8px;
}

.work-col {
    padding: 0 8px;
    width: 33.33333%;
    float: left;
}

.work-img {
    width: 100%;
    cursor: pointer;
    vertical-align: middle;
    border-style: none;
}

.work-img:hover {
    opacity: 0.6;
}

.contact-header {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
    position: relative;
}

.contact {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-span {
    letter-spacing: 10px;
    color: #ffffff !important;
    font-size: 36px !important;
}

.contact-section {
    padding: 0.01em 16px;
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.contact-text {
    margin-bottom: 16px !important;
    text-align: center !important;
    font-size: 18px !important;
    color: #FFFFFF;
}

.details {
    margin-right: 16px !important;
    font-size: 24px !important;
}

.footer {
    color: #ffffff !important;
    background-color: #000000 !important;
    padding-top: 64px !important;
    padding-bottom: 64px !important;
    text-align: center !important;
    opacity: 0.6;
}

.home-button {
    color: #000000 !important;
    background-color: #f1f1f1f1 !important;
    user-select: none;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.home-button:hover {
    opacity: 0.6;
}

.home-icon {
    margin-right: 16px !important;
}

.linkedin {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    font-size: 24px !important;
}

.linkedin-button:hover {
    opacity: 0.6;
}

@media only screen and (max-device-width: 1600px) {
    .bgimg {
        background-attachment: scroll;
        min-height: 400px;
    }
}

html {
    font-family: "Arial", Helvetica, sans-serif;
}

body {
    background-color: rgb(32, 33, 36);
}

li,
a:link,
a:visited,
a:active,
h1,
h2,
h3,
h4,
td,
tr,
th,
p {
    color: rgb(200, 200, 200);
}

a:hover {
    color: white;
}

@media screen and (max-width: 500px) {
    li {
        padding: 10px;
    }
}

td,
tr,
th {
    text-align: left
}

.star-ratings-css {
    unicode-bidi: bidi-override;
    color: rgb(186, 184, 188);
    font-size: 50px;
    height: 100px;
    width: 200px;
    margin: 0 auto;
    position: relative;
    padding: 0;
}

.star-ratings-css-top {
    color: rgb(88, 88, 88);
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}

.star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
}
