extends ../../layout
block content
	- var date = new Date().getTime()
	br
	p
		| This sketch creates a really high-res image, which may take a while to load, and might even crash the page on slower computers.
	p
		| You can run it for yourself by downloading 
		a(href='https://api.julianvos.nl/redirect?destination=https%3A%2F%2Fwww.processing.org&origin=website&date=' + date) Processing
		| , and cloning 
		a(href='https://api.julianvos.nl/redirect?destination=https%3A%2F%2Fgithub.com%2FGhoelian%2FProcessing&origin=website&date=' + date) this GitHub repository
		| . 
	p
		| You'll find this particular project in Song_lyrics_chart/.
	iframe(src='https://www.openprocessing.org/sketch/649205/embed/' width='1067' height='1095')
